<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Deel2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">tiger</property>
    <mapping class="POJO.Bestelling"/>
    <mapping class="POJO.Adres"/>
    <mapping class="POJO.BestellingHasArtikel"/>
    <mapping class="POJO.Betaling"/>
    <mapping class="POJO.Klant"/>
    <mapping class="POJO.Factuur"/>
    <mapping class="POJO.Betaalwijze"/>
    <mapping class="POJO.AdresType"/>
    <mapping class="POJO.Account"/>
    <mapping class="POJO.Artikel"/>
  </session-factory>
</hibernate-configuration>
